.black{

}

.center{
  text-align: center;
}

h1{
  font-weight: 600;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #24A6BF;
  color: white;
}

.mapboxgl-control-container{
  display: none;
}
